@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,600i,700,700i');
// @import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  height: 100%;
  min-height: 667px;
  display: flex;
  flex-direction: column;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.flex-1 {
  flex: 1;
}

* {
  &:active,
   :focus {
    outline: none !important;
  }
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.fc-white {
  font-color: white !important;
}

.fc-warn {
  color: $warn;
}

.fs-18 {
  font-size: 18px;
}

.fs-12 {
  font-size: 12px;
}

.text-overflow-scroll {
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

// fsix chrome autofill theme
input {
  &:-webkit-autofill {
    -webkit-text-fill-color: $blue-grey !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

// remove number input spinners
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// supports Mozilla
input[type=number] {
  -moz-appearance: textfield;
}
