@import 'variables';
@import 'mixins';

@import '~font-awesome/scss/font-awesome';
// @import url('//fonts.googleapis.com/icon?family=Material+Icons');

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.fc-white {
  font-color: white !important;
}

* {
  &:active,
   :focus {
    outline: none !important;
  }
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.fc-warn {
  color: $warn;
}

// fix chrome autofill theme
input {
  &:-webkit-autofill {
    -webkit-text-fill-color: $blue-grey !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

// remove number input spinners
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// supports Mozilla
input[type=number] {
  -moz-appearance: textfield;
}
