<section class="wrapper shop justify-content-center">
  <div class="container mt-3 mb-5 pb-5">
    <div class="shop-title">
      <img class="mr-3" [style.maxWidth]="'50px'" src="assets/nyan.png">
      <span [style.color]="'#8300FF'">Just another shop</span>
    </div>
    <div class="order-card">
      <p class="d-flex justify-content-between">
        <span>Check-out</span>
        <span><u>order Id: #{{ this.orderId }}</u></span>
      </p>
      <table class="crypto-table">
        <tr class="title-row">
          <td>Item (description)</td>
          <td class="text-right">Price (unit)</td>
          <td class="text-right">Quantity</td>
          <td class="text-right">Price (total)</td>
        </tr>
        <tr *ngFor="let item of items" class="item-row my-3">
          <td>{{ item.desc }}</td>
          <td class="text-right">{{ item.priceUnit }} ETH</td>
          <td class="text-right">{{ item.quantity }}</td>
          <td class="text-right">{{ item.priceUnit * item.quantity }} ETH</td>
        </tr>
        <tr>
          <td colspan="4">
            <mat-divider class="my-3"></mat-divider>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-right">Total</td>
          <td colspan="1" class="text-right">{{ getTotal() }} ETH</td>
        </tr>
      </table>
    </div>
    <div class="pull-right">
      <button mat-raised-button color="primary" class="pay-button" (click)="payWithEth()">
        <div class="d-flex align-items-center" style="height: 60px;">
          <img src="assets/request-logo.png" [style.height]="'30px'">
          <div class="h-100 px-3">
            <div style="border: none; border-left:1px solid #334F6D;height:100%"></div>
          </div>
          <span>Pay with&nbsp;</span>
          <img [style.height]="'20px'" src="assets/eth-logo-white.png">
          <span>&nbsp;ETH</span>
        </div>
      </button>
    </div>
  </div>
</section>
