$fa-font-path: '~font-awesome/fonts';

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

// Colors
$primary: 			#103b56;
$accent:			#5392ff;
$warn:				#ff5252;

$blue-op:			#1A274C;
$grey-op: 			#6B7C93;
$electric-blue-op: 	#3775F4;
$light-grey-op:		#F7F8FA;

$green:				#3FD783;
$orange:			#FCB352;
$purple:			#8E44AD;
$blue-grey:			#617B9F;
$grey-light:		#F2F2F2; 
$grey-white: 		#FAFAFA;
$grey-whiter:		#FBFBFB;
