<section class="wrapper hero-online-payment">
  <div class="container flex-1 d-flex flex-column justify-content-between">
    <div class="row mt-5">
      <div class="col-12 d-flex justify-content-between">
        <a routerLink="/" class="d-flex align-items-center">
          <div class="request-logo mr-4">
            <img class="img-fluid" src="assets/request-logo.png">
          </div>
          <div class="product-name">
            <div class="name">Payments</div>
            <div class="powered-by">powered by Request Network</div>
          </div>
        </a>
        <div class="d-flex justify-content-between align-items-center menu">
          <a href="">Demo</a>
          <a href="">Documentation</a>
          <a href="">Help Center</a>
        </div>
      </div>
    </div>
    <div class="row flex-1">
      <div class="col-12 d-flex flex-column justify-content-center mb-5 py-5">
        <h1 class="mb-3">Enabling effortless<br/>cryptocurrency payments</h1>
        <p class="subtitle">A fully decentralized solution to accept cryptocurrencies on your website</p>
        <div class="d-flex my-4">
          <button class="demo-button" mat-button color="accent">Demo</button>
          <button class="get-started-button" mat-button color="accent">Get started</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-accept-section text-center py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-3">Why accept cryptocurrency payments in your webshop?</h2>
        <div class="mt-5 d-flex flex-wrap justify-content-between">
          <div class="why-accept-block col-md-3 d-flex flex-column">
            <img src="assets/secure.png">
            <h3 class="my-3">Secure</h3>
            <p>By using blockchain technology, no risk of non-payments</p>
          </div>
          <div class="why-accept-block col-md-3 d-flex flex-column">
            <img src="assets/interoperable.png">
            <h3 class="my-3">Interoperable</h3>
            <p>Integrate cryptocurrency payments into your accounting like any other payment</p>
          </div>
          <div class="why-accept-block col-md-3 d-flex flex-column">
            <img src="assets/no-third-party.png">
            <h3 class="my-3">No third party</h3>
            <p>No one is in possession of your personal information</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="decentralized-way-section py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-3 text-center">The decentralized way to accept cryptocurrency payments</h2>
      </div>
      <div class="d-flex align-items-center flex-wrap">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center my-5">
          <img class="img-fluid" src="assets/earth.png">
        </div>
        <div class="col-12 col-lg-6 mt-5">
          <div class="mb-5">
            <h3>The first real blockchain payment solution</h3>
            <p class="subtitle">We offer an end-to-end payment solution that doesn't leave the blockchain. Have full control over your full financial flows without depending on intermediaries</p>
          </div>
          <div class="my-5">
            <h3>Don't trust us. Trust code</h3>
            <p class="subtitle">Payments are settled on the blockchain by immutable code, making your transactions 100% tamper-proof</p>
          </div>
          <div class="my-5">
            <h3>Want to change anything? You can</h3>
            <p class="subtitle">As all our products are open source, you can customize and build everything you like on top of the Request Network platform yourself</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="free-section py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-3 text-center">Simple pricing</h2>
        <div class="d-flex mt-5">
          <div class="free-card mx-auto">
            <div class="py-4 px-5">
              <h1>0$<span class="exp">*</span></h1>
              <h3>Free forever</h3>
              <div class="free-list">
                <p class="d-flex">
                  <img src="/assets/check.png">
                  <span>Receive 100% of your asking price.<br/>No merchant fees</span>
                </p>
                <p class="d-flex">
                  <img src="/assets/check.png">
                  <span>Receive payments instantly.<br/>No delays</span>
                </p>
                <p class="d-flex">
                  <img src="/assets/check.png">
                  <span>Receive guaranteed payments.<br/>No risk</span>
                </p>
              </div>
            </div>
            <span class="asterisk pull-right">*0.1% fee + transaction cost for the customer&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
