<ng-template #menuLinks>
  <a routerLink="/shop" target="_blank">Demo</a>
  <a [href]="docUrl" target="_blank">Documentation</a>
  <a (click)="scrollTo('#helpSection')">Help Center</a>
</ng-template>
<mat-sidenav-container class="h-100" #sidenavContainer>
  <mat-sidenav #sidenav mode="over">
    <div class="d-flex flex-column align-items-start sidenav">
      <div class="request-logo mx-auto my-3">
        <img class="img-fluid" src="assets/request-logo.png">
      </div>
      <ng-container *ngTemplateOutlet="menuLinks"></ng-container>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="wrapper hero-online-payment">
      <div class="container flex-1 d-flex flex-column justify-content-between">
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-between">
            <ng-container *ngIf="screenWidth < 576; else menuTemplate">
              <button disableRipple mat-icon-button (click)="sidenav.toggle()">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
              </button>￼
              <div class="d-flex align-items-center">
                <div class="request-logo mr-4">
                  <img class="img-fluid" src="assets/request-logo.png">
                </div>
                <div class="product-name">
                  <div class="name">Payments</div>
                  <div class="powered-by">powered by Request Network</div>
                </div>
              </div>
            </ng-container>
            <ng-template #menuTemplate>
              <div class="d-flex align-items-center">
                <div class="request-logo mr-4">
                  <img class="img-fluid" src="assets/request-logo.png">
                </div>
                <div class="product-name">
                  <div class="name">Payments</div>
                  <div class="powered-by">powered by Request Network</div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center menu">
                <ng-container *ngTemplateOutlet="menuLinks"></ng-container>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="row flex-1">
          <div class="col-12 d-flex flex-column justify-content-center mb-5 py-5">
            <h1 class="mb-3">Enabling effortless<br/>cryptocurrency payments</h1>
            <p class="subtitle mb-5">A fully decentralized solution to accept cryptocurrencies on your website</p>
            <div class="d-flex justify-content-between" [style.maxWidth]="'400px'">
              <a routerLink="/shop" target="_blank" class="flex-1 button demo-button" mat-button color="accent">Demo</a>
              <a [href]="docUrl" target="_blank" class="flex-1 button gradient-button" mat-button color="accent">Get started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="why-accept-section text-center py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <h2 class="pb-3">Why accept cryptocurrency payments in your webshop?</h2>
            <div class="mt-5 d-flex flex-wrap justify-content-between">
              <div class="why-accept-block col-md-3 d-flex flex-column">
                <img src="assets/secure.png">
                <h3 class="my-3">Secure</h3>
                <div class="subtitle">By using blockchain technology, no risk of non-payments</div>
              </div>
              <div class="why-accept-block col-md-3 d-flex flex-column">
                <img src="assets/interoperable.png">
                <h3 class="my-3">Interoperable</h3>
                <div class="subtitle">Integrate cryptocurrency payments into your accounting like any other payment</div>
              </div>
              <div class="why-accept-block col-md-3 d-flex flex-column">
                <img src="assets/no-third-party.png">
                <h3 class="my-3">No third party</h3>
                <div class="subtitle">No one is in possession of your personal information</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="decentralized-way-section py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <h2 class="pb-3 text-center">The decentralized way to accept cryptocurrency payments</h2>
          </div>
          <div class="d-flex align-items-center flex-wrap">
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center my-5">
              <img class="img-fluid" src="assets/earth.png">
            </div>
            <div class="col-12 col-lg-6 mt-5">
              <div>
                <h3>The first real blockchain payment solution</h3>
                <p class="subtitle">We offer an end-to-end payment solution that doesn't leave the blockchain. Have full control over your full financial flows without depending on intermediaries</p>
              </div>
              <div class="my-5">
                <h3>Don't trust us. Trust code</h3>
                <p class="subtitle">Payments are settled on the blockchain by immutable code, making your transactions 100% tamper-proof</p>
              </div>
              <div>
                <h3>Want to change anything? You can</h3>
                <p class="subtitle">As all our products are open source, you can customize and build everything you like on top of the Request Network platform yourself</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="free-section py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <h2 class="pb-3 text-center">Simple pricing</h2>
            <div class="d-flex mt-5">
              <div class="free-card mx-auto">
                <div class="py-4 px-5">
                  <h1>0$<span class="exp">*</span></h1>
                  <h3>Free forever</h3>
                  <div class="free-list">
                    <p class="d-flex">
                      <img src="/assets/check.png">
                      <span>Receive 100% of your asking price.
                        <br/>No merchant fees</span>
                    </p>
                    <p class="d-flex">
                      <img src="/assets/check.png">
                      <span>Receive payments instantly.
                        <br/>No delays</span>
                    </p>
                    <p class="d-flex">
                      <img src="/assets/check.png">
                      <span>Receive guaranteed payments.
                        <br/>No risk</span>
                    </p>
                  </div>
                </div>
                <span class="asterisk pull-right">*0.1% fee + transaction cost for the customer&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="code-section py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-12 mb-5">
            <h2 class="pb-3 text-center">Start accepting cryptocurrencies<br/>and increase your sales in minutes</h2>
          </div>
          <div class="col-md-7">
            <runkit-embed source="console.log('Hello, world!')" title="hello" nodeVersion="8.9.3" readOnly="true">
            </runkit-embed>
          </div>
          <div class="col-md-5">
            <h3><a class="get-library" [href]="docUrl" target="_blank">Get started with the library&nbsp;<i class="pl-3 fa fa-external-link" aria-hidden="true"></i></a></h3>
          </div>
        </div>
      </div>
    </section> -->
    <!-- TO PLUGIN SECTION -->
    <section class="help-section py-5" id="helpSection">
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <h2 class="pb-3 text-center">Need a little bit more help?</h2>
            <div class="mt-5 col-lg-8 text-center mx-auto">
              <p>Can't find the answers you are looking for in the documentation?</p>
              <p class="my-5">We welcome you to join the Request Network Hub on Slack.</p>
              <p>This community of developers and builders is actively expanding the ecosystem daily and loves to support you in answering all your questions.</p>
              <a target="_blank" href="https://request-slack.herokuapp.com/" class="px-5 mt-5 button request-hub-button" mat-button color="accent">Ask the community</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="up-to-date-section py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <h2 class="pb-3 text-center">Stay up-to-date<br/>when new features & cryptocurrencies are available</h2>
            <div class="mt-5 col-lg-8 text-center mx-auto">
              <form action="https://network.us12.list-manage.com/subscribe/post?u=e17500a255904b2fa3482005c&amp;id=62ea53d6f0" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_d683791d1a7389d659f1d9941_20a18e9016" tabindex="-1" value="">
                </div>
                <div class="d-flex justify-content-center">
                  <input mat-input type="email" value="" name="EMAIL" placeholder="enter email here" class="flex-1 sign-up">
                  <button type="submit" class="gradient-button px-5" mat-button color="accent">Sign up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-section py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-12 d-flex flex-wrap justify-content-between">
            <div class="d-flex flex-column">
              <div class="mb-3" [style.maxWidth]="'28px'">
                <img class="img-fluid" src="assets/request-logo.png">
              </div>
              <h4>Powered by</h4>
              <h4><a target="_blank" href="https://request.network" [style.textDecoration]="'underline'">Request Network</a></h4>
              <div class="d-flex justify-content-between" [style.maxWidth]="'10rem'">
                <a target="_blank" href="https://blog.request.network"><i class="fa fa-medium" aria-hidden="true"></i></a>
                <a target="_blank" href="https://twitter.com/requestnetwork"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.reddit.com/r/RequestNetwork/"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
                <a target="_blank" href="https://t.me/requestnetwork"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                <a target="_blank" href="https://github.com/RequestNetwork/"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a target="_blank" href="https://request-slack.herokuapp.com/"><i class="fa fa-slack" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.facebook.com/Request-Network-140279756554525/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="footer-column d-flex flex-column">
              <h3>Platform</h3>
              <a href="https://github.com/RequestNetwork/" target="_blank">Github</a>
              <a href="https://github.com/RequestNetwork/requestNetwork" target="_blank">Library</a>
              <a href="https://blog.request.network/request-network-project-update-january-19th-2018-announcing-a-30-million-request-fund-6a6f87d27d43" target="_blank">Develop with Request</a>
              <a target="_blank" href="https://request.network/assets/pdf/request_whitepaper.pdf">Whitepaper</a>
            </div>
            <div class="footer-column d-flex flex-column">
              <h3>Product</h3>
              <a routerLink="/shop" target="_blank">Demo</a>
              <a [href]="docUrl" target="_blank">Documentation</a>
              <a href="https://request-slack.herokuapp.com/" target="_blank">Help center</a>
            </div>
            <div class="footer-column d-flex flex-column">
              <h3>Organization</h3>
              <a href="https://request.network/" target="_blank">About</a>
              <a href="https://request.network/#/jobs" target="_blank">Join the team</a>
              <a href="https://request.network/#/contact" target="_blank">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
