$fa-font-path: '~font-awesome/fonts';

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

// Colors

$primary: 			#103b56;
$accent:			#5392ff;
$warn:				#ff5252;

$green:				#3FD783;
$orange:			#FCB352;
$purple:			#8E44AD;
$blue-grey:			#617B9F;
$grey-light:		#F2F2F2; 
$grey-white: 		#FAFAFA;
$grey-whiter:		#FBFBFB;


// $blue-white: 		#F6F9FC;
// $blue-light: 		#C4F0FF;
// $blue-cyan: 		#6CFDCC;
// $blue-electric:		#00ADFF;
// $purple: 			#8F98E4;
// $blue-purple: 		#5A89F9;
// $blue-sea: 			#0E638A;
// $blue-dark: 		#274059;
// $blue-darker: 		#1F364D;
// $blue-darkest: 		#0E2439;
// $grey-shadow: 		#AFC0CA;
// $grey-dark:	 		#53687D;
// $grey:		 		#6B7C93;
